*{
    margin: 0;
    padding: 0;
}

#board
{
    position: absolute;
    background-color: red;
    width: 800px;
    height: 600px;
}

.trash
{
    position: absolute;
    left: 10px;;
    width:  25px;
    height: 30px;
}
