*{
    margin: 0;
    padding: 0;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;

    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    font-family: Arial;
    }

      /* img{pointer-events: none;} */


body
{
    background: #d8d8d8;
}
#scoreboard
{
    position: absolute;
    background-color: #88d498;
    /* background: url( ); */
    width: 800px;
    height: 50px;
    font-weight: bold;
    z-index: 100;
}
#scoreboard p
{
    width: 50%;
    float: left;
    
}

#hearts img
{
    
    width: 70px;
    height: 50px;
}
#board
{
    position: absolute;
     top:20px; 
    /* background-color: blue; */
    background: url('../data/imgs/Tlo1.gif' );
    width: 800px;
    height: 600px;
    
    text-align:center;
}

#board #end
{
    position: relative;
    top: 40%;  
    font-size: 600%;
}
.trash
{
    position: absolute;
    width: 60px;
    height: 60px;
    
    /* img flip
    transform: scaleX(-1); */
}

#info
{
    background-color: #85c0adcb;
    width: 80%;
    height: 50%;
    margin: auto;
    position: relative;
    top: 25%;
}


#info h2
{
    padding-top: 30px;
    padding-bottom: 30px;
}
#info p
{
    margin-bottom: 30px;
}
#info button
{
    padding: 15px;
    background-color: #bbbbbb;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    border: #64d8b5 2px solid;
    padding: 15px;
    font-size: 20px;
}

