*{
    margin: 0;
    padding: 0;

        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;
        font-family: Arial;
    
        }
    
body
{
    background: green;
}
#scoreboard
{
    position: absolute;
    background-color: yellow;
    /* background: url( ); */
    width: 800px;
    height: 20px;
    font-weight: bold;
    z-index: 100;
}
#scoreboard p
{
    width: 50%;
    float: left;
    text-align: center;
}
#board
{
    position: absolute;
     top:20px; 
    background-color: blue;
    /* background: url( ); */
    width: 800px;
    height: 600px;
    
    text-align:center;
}
#board .bin
{
    width: 33.3%;
    height: 150px;
}
#board #end
{
    position: relative;
    top: 40%;  
    font-size: 600%;
}
.trash
{
    position: absolute;
    width: 60px;
    height: 60px;
    
    /* img flip
    transform: scaleX(-1); */
}

#info
{
    background-color: beige;
    opacity: 0.9;
    width: 80%;
    height: 60%;
    margin: auto;
    position: absolute;
    top: 20%;
    right: 10%;
    z-index: 200;
}


#info h2
{
    padding-top: 30px;
    padding-bottom: 30px;
}
#info p
{
    margin-bottom: 30px;
}
#info button
{
    padding: 15px;
    background-color: white;
    border-radius: 20%;
    font-weight: bold;
    font-size: 20px;
}
