*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: #bbbbbb;
}


/* kolory linków */

a:link {
    color: #7cb823;
}

a:visited {
    color: #517717;
}

a:active {
    color: #517717;
}

#main {
    width: 1000px;
    margin: 0 auto;
}

/* koniec linków */

#header {
    height: 110px;
    margin-bottom: 10px;
    background-color: #7db43d;
}

h1.title {
    margin-left: 25px;
    padding-top: 10px;
}

#nav {
    background-color: #669234;
    height: 40px;
    position: relative;
    top: 25px;
}

/* menu */

#menu {
    display: block;
    width: 100%;
    list-style: none;
    text-align: center;
    font-size: 20px;
}

#menu li {
    width: 20%;    
    float: left;
    padding: 9px 0;  
    border-bottom: #adff2f 3px solid;  
}

#menu li:hover {
    background-color: #4c6d26;
    border-bottom-color: #80ff2b;
}

#menu a {
    text-decoration: none;
    color: whitesmoke;
}

#menu a:hover {
    color:#dfffd3
}

/* konec menu*/



#content{
    min-height: 600px; /* tymczasowe */
    margin-bottom: 10px;
    background-color: #d8d8d8;
    padding:15px;
}

/* gierki-iframy */

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* o nas */

div.author {
    display: block;
    width: 485px;
    float: left;
}

.author table {
    width: 100%;
}

.author_photo {
    width: 200px;
    height: 200px;
    background-color: #5a6b52;
    border-radius: 5px;
}

.author .cell {
    width: 220px;
    background-color: #c1caba;
    border-radius: 5px;
    height: 45px;
    padding-left: 10px ;
}

/* lista gier */

.list {
    height: 200px;
    width: 100%-20px;
    background-color: #b6d3b6;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 25px;
}

.list:hover, .list:hover .info {
    background-color: #98c598;
}

.miniature {
    height: 80%;
    width: 250px;
    background-color: rgb(138, 138, 138);
    float: left;
    margin-top: 10px;
    border-top: 1px gray solid;
    border-left: 1px gray solid;
    border-bottom: 1px gray solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.info {
    background-color: #b6d3b6;;
    height: 80%;
    width: 100%-20px;
    padding-inline-start: 250px;
    margin-top: 10px;
    border-top: 1px gray solid;
    border-right: 1px gray solid;
    border-bottom: 1px gray solid;
    border-radius: 10px;
}
.info * {
    margin: 10px;
    color: black;
}


#footer {
    height: 80px;
    background-color: #40502d;
    padding: 5px;
    color: whitesmoke;
}


/* dodatkowe klasy */

h2.title {
    margin-bottom: 25px;
}

.center {
    text-align: center;
}

.no_decoration {
    text-decoration: none;
}