*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: #bbbbbb;
}

#main {
    width: 1000px;
    margin: 0 auto;
}

#header {
    height: 110px;
    margin-bottom: 10px;
    background-color: #7db43d;
}

#nav {
    background-color: #669234;
    height: 40px;
    position: relative;
    top: 32px;
}

/* menu */

#menu {
    display: block;
    width: 100%;
    list-style: none;
    text-align: center;
    font-size: 20px;
}

#menu li {
    width: 25%;    
    float: left;
    padding: 9px 0;  
    border-bottom: #adff2f 3px solid;  
}

#menu li:hover {
    background-color: #4c6d26;
    border-bottom-color: #80ff2b;
}

#menu a {
    text-decoration: none;
    color: whitesmoke;
}

#menu a:hover {
    color:#dfffd3
}





#content{
    height: 700px; /* tymczasowe */
    margin-bottom: 10px;
    background-color: #d8d8d8;
}

#footer {
    height: 80px;
    background-color: #40502d;
    padding: 5px;
    color: whitesmoke;
}




.center {
    text-align: center;
}